<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/about us.jpeg' %}">
    <style>
        table,td,tr{
            border: 1px solid black;
            
        }
        table{
            background-color: #8fd28f;
            width: 100%;
            height: 350px;
        }
        th{
            background-color: #56bd56;
        }
       td{
           text-align: center;
       }
    </style>
</head>
<body>
<h1>About Page</h1>
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr>
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 Bags</td>
    </tr>
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 Bags</td>
    </tr>
    
    
    
    
    
    
    
</table>

</body>
</html>